<div class="list-group shadow-sm">
  <a href="/admin/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
  <a href="/parking/entry" class="list-group-item list-group-item-action">Verify Entry</a>
  <a href="/parking/exit" class="list-group-item list-group-item-action">Verify Exit</a>
  <a href="/admin/bookings" class="list-group-item list-group-item-action">Bookings</a>
  <a href="/admin/bills" class="list-group-item list-group-item-action">Checkout Bills</a>
  <a href="/admin/transactions" class="list-group-item list-group-item-action">Transactions</a>
</div>
