<div class="list-group shadow-sm">
  <a href="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
  <a href="/vehicle/add" class="list-group-item list-group-item-action">Add Vehicle</a>
  <a href="/vehicle/list" class="list-group-item list-group-item-action">My Vehicles</a>
  <a href="/parking/locations" class="list-group-item list-group-item-action">Parking Locations</a>
  <a href="/parking/book" class="list-group-item list-group-item-action">Book Slot</a>
  <a href="/booking/history" class="list-group-item list-group-item-action">Booking History</a>
  <a href="/booking/receipts" class="list-group-item list-group-item-action">Receipts</a>
</div>
